.navbar-brand {
    color: #70A974 !important;
}

body {
    background-color: #548687;
    color: #70A974;
    font-size: 1.5em;
}

.main-content {
    background-color: #F5F5EB;
    font-size: 1.3em;
    box-shadow: 4px 4px lightgray;
    border-radius: 5px;
    padding-bottom: 1em;
    margin-top: 3em;
}

.navbar-default {
    background-color: #F5F5EB;
}

.container-fluid {
    box-shadow: 2px 2px lightgray;
    border-radius: 5px;
}

.places {
    width: 80%;
    margin:auto;
}

.place {
    background-color: #ffffff;
    cursor: pointer;
    margin: 1em auto;
    min-height: 3em;
}

.place-details {
    margin-left: 2em;
}

.place:hover {
    background-color: #E9F1F1;
}

.by {
    margin-top: 2em;
}

.by a {
    color: white;
}

.sign-in {
    margin-top: 0.5em;
    margin-right: 0.5em;
}

.sign-out {
    width: 100%;
    height: 100%;
}

.main {
    padding-bottom: 2em;
}

.search-form {
    margin: auto;
    width: 70%;
}

.search-form {
    margin: auto auto 3em;
}

#location-input {
    width: 50%;
}

.btn-search-location {
    margin-left: 2em;
    width: 9em;
}

.placeImg {
    margin-top: 2em;
    max-width: 3.5em;
}

.controls {
    text-align: center;
    margin-top: 2em;
}