.navbar-brand {
    color: #70A974 !important;
}

body {
    background-color: #548687;
    color: #70A974;
    font-size: 1.5em;
}

.main-content {
    background-color: #F5F5EB;
    font-size: 1.3em;
    box-shadow: 4px 4px lightgray;
    border-radius: 5px;
    padding-bottom: 1em;
    margin-top: 3em;
}

.navbar-default {
    background-color: #F5F5EB;
}

.container-fluid {
    box-shadow: 2px 2px lightgray;
    border-radius: 5px;
}

.places {
    width: 80%;
    margin:auto;
}

.place {
    background-color: #ffffff;
    cursor: pointer;
    margin: 0.5em auto;
    min-height: 2em;
}

.place p {
    margin-left: 2em;
}

.place:hover {
    background-color: #E9F1F1;
}

.by {
    margin-top: 2em;
}

.by a {
    color: white;
}

.sign-in {
    margin-top: 0.5em;
    margin-right: 0.5em;
}

.sign-out {
    width: 100%;
    height: 100%;
}


.help-block {
    color: red;
    font-size: 0.8em;
}

.main {
    padding-bottom: 2em;
}